body {
    align-items: center;
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, #FFEFD6, #F2DEBA);
    justify-content: center;
    min-height: 100vh;
}

h1 {
    color: #A0E4CB;
    text-align: center;
}

.tela {
     border-radius: 20px 20px 0 0;
     background: linear-gradient(45deg, #A0E4CB, #CFF5E7);
     display: grid;
     grid-template-columns: repeat(1, 2fr);
     padding: 1rem;
     gap: 5px;
     box-shadow: 10px 10px 10px mediumaquamarine;
 } 

.calc {
   min-height: 50vh;
    border-radius: 0 0 20px 20px;
    background: linear-gradient(45deg, #A0E4CB, #CFF5E7);
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    padding: 1rem;
    gap: 5px;
    box-shadow: 10px 10px 10px mediumaquamarine;
}  

.visor-operacao {
    height: 10px;
    border: none;
    padding: 5px;
    background-color: #D6E4E5;
}

.visor-tela {
    height: 10px;
    border: none;
    border-radius: 8px 8px 0 0;
    padding: 15px;
    background-color: #D6E4E5;
}

.tecla-funcao {
    background: #BBBBBB;
    font-size: 2.5rem;
}

.teclas {
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
}

.teclas:hover {
    background: gray;
}

.teclas:active {
    transform: scale(0.9);
}